@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');
:root {
    --linear-primary: hsla(219, 100%, 66%, 1), hsla(219, 83%, 49%, 1);
    --linear-secondary: hsla(216, 100%, 85%, 1), hsla(217, 98%, 75%, 1);
    --linear-smooth: hsla(223, 100%, 96%, 1), hsla(223, 100%, 96%, 0);
    --linear-stroke: hsla(216, 98%, 76%, 0.04), hsla(216, 98%, 76%, 0.07);
    --stroke: hsla(218, 98%, 65%, 1);
    --white: hsla(0, 0%, 100%, 1);
    --text-heading: hsla(244, 25%, 23%, 1);
    --text-desc: hsla(232, 8%, 52%, 1);
    --text-color: hsla(258, 6%, 67%, 1);
    --text-title: hsla(242, 15%, 35%, 1);
    --line-color: hsla(258, 6%, 67%, 0.5);
    --box-shadow-btn: 0px 16px 40px -8px rgba(56, 126, 250, 0.28);
    --max-w: 1200px;
    --orange-color: hsla(40, 100%, 54%, 1);
    --blue-color: hsla(217, 58%, 61%, 1);
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    scroll-behavior: smooth;
}
body {
    font-family: 'Poppins', sans-serif;
    background-color: var(--white);
}
.container {
    max-width: var(--max-w);
    margin: 0 auto;
    padding: 4rem 1rem;
}
.heading {
    color: var(--text-heading);
    font-size: 4.375rem;
    font-weight: 700;
    line-height: 5.125rem;
    letter-spacing: -0.35px;
}
.title {
    color: var(--text-heading);
    font-size: 2.875rem;
    font-weight: 600;
    line-height: 3.625rem;
    text-transform: capitalize;
    margin-bottom: 26px;
}
.subtitle {
    color: var(--text-color);
    font-size: 1rem;
    line-height: 1rem;
    font-weight: 400;
}
.btn {
    color: var(--white);
    background: linear-gradient(var(--linear-primary));
    box-shadow: var(--box-shadow-btn);
    text-align: center;
    padding: 1rem 2rem;
    outline: none;
    border: none;
    font-size: 1rem;
    font-weight: 600;
    line-height: 1rem;
    border-radius: 100rem;
    cursor: pointer;
    transition: all 0.3s ease;
}
.btn-svg {
    display: flex;
    align-items: center;
    padding: 0.5rem;
    padding-left: 1.2rem;
    gap: 0.75rem;
    border: none;
    font-size: 1rem;
    font-weight: 600;
    background: linear-gradient(var(--linear-primary));
    border-radius: 5rem;
    cursor: pointer;
    box-shadow: var(--box-shadow-btn);
}
.btn-svg-name {
    font-size: 1rem;
    color: var(--white);
    font-weight: 500;
}
.btn-svg-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 2.25rem;
    height: 2.25em;
    background-color: var(--white);
    border-radius: 5rem;
}
.btn-svg-icon .icon {
    width: 1.25rem;
    height: 1.25rem;
}
.btn-svg-icon path.arrow {
    stroke: #5291ff;
    stroke-width: 3px;
}
.form {
    display: flex;
    align-items: center;
    min-height: 4.25rem;
    max-width: 29.375rem;
    width: 100%;
    border: 1px solid #5291ff;
    border-radius: 20rem;
    background-color: var(--white);
    padding: 0.5rem;
    box-shadow: 0px 18px 26px rgba(188, 188, 188, 0.09);
}
.input {
    width: 100%;
    border: none;
    outline: none;
    padding: 0.5rem 1.125rem;
    font-size: 1rem;
    line-height: 1rem;
    color: var(--text-desc);
}
.input::-webkit-input-placeholder{
    color: hsla(264, 4%, 73%, 1);
}
.input::-moz-input-placeholder{
    color: hsla(264, 4%, 73%, 1);
}
/* Navbar */
.navbar {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    right: 0;
    z-index: 9999;
    background-color: rgba(255, 255, 255, 0.85);
    backdrop-filter: blur( 4px );
    -webkit-backdrop-filter: blur( 4px );
}
nav {
    max-width: var(--max-w);
    margin: 0 auto;
    padding: 1.75rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.nav__logo {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
}
.nav__logo img.logo {
    width: 38px;
}
.nav__logo .logo__name {
    font-size: 1.5rem;
    font-weight: 900;
    color: var(--text-heading);
}
.nav__links {
    list-style: none;
    display: flex;
    align-items: center;
    gap: 3.5rem;
}
.nav__links .link a {
    font-weight: 400;
    font-size: 1rem;
    line-height: 1rem;
    color: var(--text-color);
    transition: all 0.3s ease;
}
.nav__links .link a:hover {
    font-weight: 500;
    color: var(--text-heading);
}

/* Header */
.header__container {
    padding-top: 10rem;
    display: flex;
    align-items: center;
    gap: 7.25rem;
    margin-bottom: 20px;
}
.header__content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.header__content-heading {
    margin-bottom: 20px;
}
.header__content-desc {
    color: var(--text-desc);
    font-size: 1.25rem;
    font-weight: 400;
    line-height: 2rem;
    margin-bottom: 40px;
}

/* Category */
.category__container {
    text-align: center;
}
.category__title {
    margin: 0 auto;
    margin-bottom: 1.5rem;
    max-width: 38.5rem;
}
.category__list {
    display: grid;
    grid-template-columns: repeat(6, 10.5rem);
    gap: 2.125rem;
    margin: 3.25rem 0;
}
.category__item {
    border-radius: 1.75rem;
    padding: 2rem 1.875rem 2.25rem;
    background: linear-gradient(var(--linear-smooth));
    border: 2px solid rgba(134, 182, 254, 0.072);
    border-bottom:2px solid rgba(134, 182, 254, 0.04);
    transition: all 0.1s ease;
}
.category__item-img {
    width: 6.75rem;
    height: 6.75rem;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--white);
    border-radius: 10rem;
    margin-bottom: 2rem;
}
.category__item-name {
    color: var(--text-title);
    font-size: 1.5rem;
    font-weight: 500;
    line-height: 1.5rem;
}
.category__item:hover {
    background: linear-gradient(var(--linear-secondary));
    transform: scale(1.05);
    box-shadow: 0px 28px 63px -13px hsla(217, 71%, 60%, 0.29);
}
.category__item:hover .category__item-name {
    color: var(--white);
}
.category__button {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 1rem;
}
.category__button-arrow {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 3.125rem;
    height: 3.125rem;
    background-color: var(--white);
    border-radius: 5rem;
    border: 1px solid #4E8DFD;
    cursor: pointer;
}
.category__button-arrow svg {
    width: 1.25rem;
    height: 1.25rem;
}
.category__button-arrow path {
    stroke: #5291ff;
    stroke-width: 3px;
}
.category__button-arrow:hover {
    background: linear-gradient(var(--linear-primary));
    box-shadow: 0px 5px 21px -1px rgba(47, 116, 240, 0.36);
}
.category__button-arrow:hover path {
    stroke: var(--white);
}

/* Order */
.order__container {
    text-align: center;
    margin-top: 5rem;
    margin-bottom: 5rem;
}

.order__steps {
    margin-top: 4.5rem;
    display: flex;
    align-items: center;
}
.order__step {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.order__step .img-order {
    padding: 1rem;
    margin-bottom: 2rem;
}
.order__step span {
    padding: 0.688rem;
    border-radius: 5rem;
    border: 2px dashed var(--orange-color);
}
.order__step-name {
    color: var(--text-heading);
    font-size: 1.5rem;
    line-height: 1.5rem;
    font-weight: 500;
    margin-top: 1.875rem;
}

/* Features */
.features__container {
    text-align: center;
    margin-bottom: 1.5rem;
}
.features__subtitle {
    max-width: 34.5rem;
    margin: 0 auto;
}
.features__list {
    display: grid;
    grid-template-columns: repeat(3, 21.75rem);
    gap: 5rem 3.75rem;
    margin-top: 3.75rem;
    margin-bottom: 3.5rem;
}
.features__item {
    padding: 2.125rem;
    border: 2px solid rgba(134, 182, 254, 0.08);
    border-bottom:2px solid rgba(134, 182, 254, 0.04);
    border-radius: 1.75rem;
    background-color: var(--white);
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: all 0.1s ease;
}
.features__item-image {
    width: 13.125rem;
    height: 13.125rem;
    border: 3px solid white;
    border-radius: 10rem;
    margin-bottom: 2.625rem;
    box-shadow: 0px 14px 77px rgba(40, 76, 132, 0.15);
}
.features__item-image img {
    width: 100%;
    height: 100%;
    object-fit: fill;
}
.features__item-name {
    max-width: 15rem;
    color: var(--text-title);
    font-size: 1.5rem;
    font-weight: 500;
    line-height: 2rem;
    margin-bottom: 2.25rem;
}
.features__item-bottom {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.features__item-bottom .amount {
    color: var(--text-heading);
    font-weight: 600;
    font-size: 1.5rem;
    line-height: 1.5rem;
}
.features__btn-add {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 2.375rem;
    height: 2.375rem;
    padding: 1.25rem;
    border: none;
    font-size: 2rem;
    color: var(--white);
    border-radius: 0.5rem;
    background: linear-gradient(var(--linear-secondary));
    cursor: pointer;
}
.features__item:hover {
    background: linear-gradient(var(--linear-secondary));
    box-shadow: 0px 28px 63px -13px rgba(80, 136, 225, 0.2);
}
.features__item:hover .features__item-name,
.features__item:hover .features__item-bottom .amount {
    color: var(--white);
}
.features__item:hover .features__btn-add {
    color: hsla(228, 43%, 50%, 1);
    background: var(--white);
}
.features__button {
    margin: 0 auto;
}

/* About Us */
.about__container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 6.625rem;
    padding-top: 4rem;
    padding-bottom: 4rem;
}
.about__subtitle {
    line-height: 1.625rem;
}
.about__links-more {
    margin-top: 2.5rem;
    margin-bottom: 3.2rem;
    list-style: none;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2.5rem 1.25rem;
}
.about__link-item {
    display: flex;
    align-items: center;
    gap: 1.2rem;
}
.about__link-item svg {
    transform: rotate(-45deg);
    width: 20px;
    transition: all 0.3s ease;
}
.about__link-item path {
    fill: var(--text-heading);
}
.about__link {
    color: var(--text-title);
    font-size: 1.125rem;
    line-height: 1.125rem;
    font-weight: 500;
    letter-spacing: 0.006rem;
}
.about__link-item:hover svg {
    transform: rotate(0);
}
.about__buttons {
    display: flex;
    align-items: center;
    gap: 1.75rem;
}
.about__buttons .btn {
    border: 1px solid #1660E5;
}
.about__buttons .btn:hover {
    background: var(--white);
    color: #5390FF;
    border: 1px solid #5390FF;
}

/* CTA */
.cta__container {
    display: flex;
    align-items: center;
    gap: 9.875rem;
}
.cta__title {
    text-transform: none;
}
.cta__subtitle {
    line-height: 1.625rem;
    letter-spacing: 0.005rem;
    margin-bottom: 2rem;
}
.cta__content-step {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    margin-bottom: 2.125rem;
}
.cta__step {
    display: flex;
    align-items: center;
    gap: 0.75rem;
}
.cta__step span {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 2.125rem;
    height: 2.125rem;
    color: var(--text-heading);
    font-weight: 500;
    line-height: 1.25rem;
    border: 2px dashed var(--orange-color);
    border-radius: 5rem;
}
.cta__step h5 {
    font-size: 1.25rem;
    font-weight: 500;
    line-height: 1.25rem;
    color: var(--text-title);
}
.cta__download-link {
    margin-right: 1.25rem;
}


/* Testimonials */
.testimonials__container {
    display: flex;
    align-items: center;
    gap: 7rem;
}
.testimonials__title {
    text-transform: none;
}
.testimonials__subtitle {
    line-height: 1.625rem;
    letter-spacing: 0.005rem;
    margin-bottom: 3.125rem;
}
.testimonials__client {
    display: flex;
    align-items: center;
    gap: 6.75rem;
}
.testimonials__client-info {
    display: flex;
    align-items: center;
    gap: 1.125rem;
}
.client__avatar {
    max-width: 5.375rem;
    width: 100%;
    aspect-ratio: 1 / 1;
    border-radius: 6rem;
    overflow: hidden;
}
.client__avatar img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.client__info-name {
    font-size: 1.25rem;
    line-height: 1.25rem;
    font-weight: 500;
    color: var(--text-title);
    margin-bottom: 0.625rem;
}
.client__info-role {
    display: block;
    color: var(--text-color);
    font-size: 1rem;
    line-height: 1rem;
    font-weight: 400;
    margin-bottom: 0.5rem;
}
.client__info-star {
    display: flex;
    align-items: center;
    gap: 0.125rem;
}
.client__info-star svg {
    width: 1.125rem;
    height: 1.125rem;
}
.client__info-star path {
    fill: var(--orange-color);
}
.testimonials__client-button {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 1.5rem;
}
.testimonials__button-arrow {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 3.125rem;
    height: 3.125rem;
    background-color: var(--white);
    border-radius: 5rem;
    border: 1px solid #4E8DFD;
    cursor: pointer;
}
.testimonials__button-arrow svg {
    width: 1.25rem;
    height: 1.25rem;
}
.testimonials__button-arrow path {
    stroke: #5291ff;
    stroke-width: 3px;
}
.testimonials__button-arrow:hover {
    background: linear-gradient(var(--linear-primary));
    box-shadow: 0px 5px 21px -1px rgba(47, 116, 240, 0.36);
}
.testimonials__button-arrow:hover path {
    stroke: var(--white);
}

/* Our Blogs */
.blog__title,
.blog__subtitle {
    text-align: center;
    text-transform: none;
}
.blog__subtitle {
    max-width: 46.25rem;
    margin: 0 auto;
    margin-bottom: 5rem;
}
.blog__content {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 3.75rem;
}
.blog__content-card {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.blog__card-img {
    width: 21.875rem;
    height: 15.25rem;
    border-radius: 1.75rem;
    overflow: hidden;
    margin-bottom: 2.5rem;
}
.blog__card-img:hover img {
    transform: scale(1.02);
}
.blog__card-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: all 0.3s ease;
}
.blog__card-title {
    color: var(--text-heading);
    font-size: 1.5rem;
    font-weight: 600;
    line-height: 2.125rem;
    margin-bottom: 24px;
    cursor: pointer;
}
.blog__card-desc {
    color: var(--text-color);
    font-size: 1rem;
    line-height: 1.625rem;
    font-weight: 400;
    margin-bottom: 1.875rem;
}
.blog__card-button {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}
.blog__card-button span {
    font-size: 1rem;
    line-height: 1rem;
    color: var(--text-title);
    font-weight: 500;
}
.blog__card-button svg {
    width: 1rem;
    transition: transform 0.3s ease;
}
.blog__card-button svg path {
    stroke-width: 2px;
}
.blog__card-button:hover svg {
    transform: translateX(0.5rem);
}
.blog__button {
    margin: 0 auto;
    margin-top: 3.75rem;
}

/* Subscription */
.subscription {
    position: relative;
    padding-top: 4rem;
    padding-bottom: 4rem;
    background-color: hsla(218, 56%, 62%, 1);
    margin: 5rem auto;
}
.subscription__container {
    display: flex;
    align-items: flex-end;
    gap: 9rem;
}
.subscription__content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    max-width: 31rem;
}
.subscription__content-heading {
    color: var(--white);
    font-size: 2.875rem;
    font-weight: 600;
    line-height: 3.5rem;
    margin-bottom: 0.5rem;
}
.subscription__content-desc {
    color: hsla(215, 48%, 91%, 1);
    font-size: 1rem;
    line-height: 1.625rem;
    font-weight: 400;
    margin-bottom: 1.75rem;
}
.subscription__line {
    /* position: relative; */
    width: 1px;
    height: 1px;
}
.subscription__line::after {
    content: "";
    position: absolute;
    top: 0;
    width: 1px;
    height: 100%;
    border-right: 3px dashed rgb(176, 206, 255);
}
.subscription__order {
    max-width: 14rem;
}
.subscription__order-title {
    color: var(--white);
    font-size: 2.375rem;
    line-height: 3rem;
    font-weight: 600;
    margin-bottom: 1.25rem;
}
.subscription__order-btn {
    background: var(--white);
    color: var(--blue-color);
    border: 2px solid var(--blue-color);
}

/* Footer */
.footer__container {
    display: grid;
    grid-template-columns: 2fr repeat(4, 1fr);
    gap: 5rem;
}
.footer__col:first-child {
    margin-right: 3rem;
}
.footer__logo {
    display: flex;
    align-items: center;
    gap: 8px;
    margin-bottom: 2rem;
}
.footer__logo img.logo {
    width: 38px;
}
.footer__logo .logo__name {
    font-size: 1.5rem;
    font-weight: 900;
    color: var(--text-heading);
}
.footer__col p {
    font-size: 1rem;
    line-height: 1.75rem;
    font-weight: 400;
    color: var(--text-color);
}
.footer__col h4 {
    font-size: 1.125rem;
    color: var(--text-title);
    font-weight: 500;
    line-height: 1rem;
    margin-bottom: 2rem;
}
.footer__col a {
    color: var(--text-color);
    font-size: 0.875rem;
    font-weight: 400;
    line-height: 2.125rem;
}
.footer__col a:hover {
    color: var(--text-title);
}
.footer__bar {
    padding: 1.875rem 0;
    padding-bottom: 3rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-top: 1px solid var(--line-color);
}
.footer__bar p {
    font-size: 0.875rem;
    color: var(--text-color);
    font-weight: 400;
}
.footer__bar-socials {
    display: flex;
    align-items: center;
    gap: 1rem;
}
.footer__bar-socials span {
    cursor: pointer;
    width: 1.875rem;
    height: 1.875rem;
    border: 1px solid #2D76F9;
    border-radius: 0.25rem;
    display: flex;
    align-items: center;
    justify-content: center;
    color: hsla(219, 94%, 58%, 1);
    background-color: white;
}
.footer__bar-socials span:hover {
    color: white;
    background-color: hsla(219, 94%, 58%, 1);
}